@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/white-alpha.css';

/* Gray */
/* @import '@radix-ui/colors/sand.css'; */
/* @import '@radix-ui/colors/sand-alpha.css'; */
/* @import '@radix-ui/colors/sand-dark.css'; */
/* @import '@radix-ui/colors/sand-dark-alpha.css'; */

/* For decoration and extra touches */
@import '@radix-ui/colors/gold.css';
@import '@radix-ui/colors/gold-alpha.css';
@import '@radix-ui/colors/gold-dark.css';
@import '@radix-ui/colors/gold-dark-alpha.css';

/* Primary Accent */
@import '@radix-ui/colors/purple.css';
@import '@radix-ui/colors/purple-alpha.css';
@import '@radix-ui/colors/purple-dark.css';
@import '@radix-ui/colors/purple-dark-alpha.css';

/* Info/Secondary Accent */
@import '@radix-ui/colors/cyan.css';
@import '@radix-ui/colors/cyan-alpha.css';
@import '@radix-ui/colors/cyan-dark.css';
@import '@radix-ui/colors/cyan-dark-alpha.css';

/* Warning */
@import '@radix-ui/colors/yellow.css';
@import '@radix-ui/colors/yellow-alpha.css';
@import '@radix-ui/colors/yellow-dark.css';
@import '@radix-ui/colors/yellow-dark-alpha.css';

/* Success */
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/green-alpha.css';
@import '@radix-ui/colors/green-dark.css';
@import '@radix-ui/colors/green-dark-alpha.css';

/* Danger */
@import '@radix-ui/colors/red.css';
@import '@radix-ui/colors/red-alpha.css';
@import '@radix-ui/colors/red-dark.css';
@import '@radix-ui/colors/red-dark-alpha.css';

/* For Charts */
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-alpha.css';
@import '@radix-ui/colors/blue-dark.css';
@import '@radix-ui/colors/blue-dark-alpha.css';

@import '@radix-ui/colors/pink.css';
@import '@radix-ui/colors/pink-alpha.css';
@import '@radix-ui/colors/pink-dark.css';
@import '@radix-ui/colors/pink-dark-alpha.css';

@import '@radix-ui/colors/jade.css';
@import '@radix-ui/colors/jade-alpha.css';
@import '@radix-ui/colors/jade-dark.css';
@import '@radix-ui/colors/jade-dark-alpha.css';

@import '@radix-ui/colors/lime.css';
@import '@radix-ui/colors/lime-alpha.css';
@import '@radix-ui/colors/lime-dark.css';
@import '@radix-ui/colors/lime-dark-alpha.css';
